.bacModal {
	display: none;
}

.bacModal.open {
	display: block;
}

.bacModal,
.bacModal * {
	box-sizing: border-box;
}

.bacModal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 0.2s;
    opacity: 1;
    z-index: 201;
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: popupAnimation;
    animation-duration: 0.2s;
    animation-name: popupAnimation;
}

@keyframes popupAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes popupAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.bacModal .popup {
    background: #fff;
    left: 50%;
    max-height: 100vh;
    overflow-y: auto;
    max-width: 860px;
    min-width: 360px;
    padding: 40px 20px 20px 20px;
    position: fixed;
    overflow-x: hidden;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 202;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: popupAnimation;
    animation-duration: 0.2s;
    animation-name: popupAnimation;
}

.bacModal.bacModalLoading .popup::before {
	background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	background-position: 50% calc(50% + 80px - 32px);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.bacModal .popup .header {
	background-color: #686868;
	color: #fff;
	font-size: 20px;
	height: 30px;
	left: 0;
	line-height: 30px;
	padding-left: 10px;
	position: absolute;
	text-align: left;
	top: 0;
	width: 100%;
}

.bacModal .popup .header h4 {
	font-size: 20px;
}

.bacModal .popup .popup-close {
	border-left: 1px solid #fff;
	color: #fff;
	height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 30px;
}

.bacModal.signInPanel .bacModalDetailsContainer {
	transform: translateX(-50%);
}

.bacModal .bacModalDetailsContainer {
	width: calc(200% + 40px);
	transition: transform 0.2s linear;
}

.bacModal .bacModalDetailsContainer .bacModalDetails {
	float: left;
	padding-right: 20px;
	position: relative;
	width: 50%;
}

.bacModal .bacModalDetails label {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 16px;
	position: relative;
	width: 50%;
}

.bacModal .bacModalDetails label:nth-child(even) {
	padding-right: 10px;
}

.bacModal .bacModalDetails label:nth-child(odd) {
	padding-left: 10px;
}

.bacModal .popup input,
.bacModal .popup textarea {
	padding-left: 6px;
	padding-right: 6px;
    border-radius: 5px;
    border: 2px solid #ccc;
    height: 35px;
    line-height: 30px;
    outline: none;
    -webkit-appearance: none;
}

.bacModal .popup input {
	display: block;
	width: 100%;
}

.bacModal .popup textarea {
	font-size: 14px;
    height: 8em;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
}

.bacModal .popup .button,
.bacModal .popup button.back,
.bacModal .popup button[type="submit"] {
	font-weight: normal;
    background: #F50057;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 1;
    margin-top: 20px;
    margin: 30px auto 0; 
    padding: 15px 8px 15px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.bacModal .popup button[type="submit"]:hover {
    background: #FF0F66;
}

.bacModal .popup button.back {
	background: #555555;
    width: 60px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -10px;
}

.bacModal .popup button.back:hover {
    background: #000;
}

.bacModalText {
	margin-bottom: 20px;
}

.bacModalText,
.bacModalText p,
.bacModalUserText {
	font-size: 14px;
	line-height: 1.4em;
}

.bacModal .popup .bacModalConfirmation {
	background-color: #fff;
	height: calc(100% - 30px);
	left: 0;
	padding: 40px;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 100%;
	z-index: 1;
}

.bacModal .popup .bacModalConfirmation div {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bacModal .popup .bacModalError::after {
	bottom: -20px;
	color: red;
	content: 'Please enter a value';
	font-size: 12px;
	position: absolute;
}

.bacModal .popup .bacModalError input,
.bacModal .popup .bacModalError textarea {
	border-color: red;
}

.bacModal .popup .bacModalDetailsBack {
	bottom: 0;
    display: block;
    line-height: 50px;
    margin: 0;
    position: absolute;
}

.bacModal .popup .bacModalSignInError::before {
    border-bottom: 1px solid #ccc;
    color: red;
    content: 'Your email address or password is incorrect';
    display: block;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}